@page
@model Склад.Pages.CategoryModel
@{
    ViewData["Title"] = "Добавить категорию";
}

<div class="container">
    <h2 class="mb-4">@ViewData["Title"]</h2>

    <form method="post">
        <div class="mb-3">
            <label class="form-label">Название категории</label>
            <input type="text" class="form-control" name="CategoryName" required />
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>