@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на склад</h1>
    <p>Здесь вы можете узнать список товаров доступных на складе. Также есть возможеность добавлять товары, добавлять поставщиков, а также категории товаров</p>
</div>
