@page
@model Склад.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Доступ запрещен";
}

<h2 class =" text-danger">Доступ запрещен</h2>
<a asp-page ="/Index" class=" btn btn-primary">На главную</a>