@page
@model Склад.Pages.ProductsListModel
@{
}
<h2>Товары</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Наименование</th>
                <th>Цена</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>
                </tr>
            }
    </tbody>
</table>
