@page
@model Склад.Pages.SupplierModel
@{
}

<h2>Добавить поставщика</h2>

<form method="post">
    <div>
        <label>Имя поставщика</label>
        <input type="text" name="SupplierName" required />
    </div>
    <div>
        <label>Email поставщика</label>
        <input type="text" name="Email" required />
    </div>
    <button type="submit">Добавить</button>
</form>
